<?php

/**
 * This is the config file for SlmQueueSqs. Just drop this file into your config/autoload folder (don't forget to
 * remove the .dist extension from the file), and configure it as you want
 */

return array(
    'slm_queue' => array(
        /**
         * Configuration for Amazon SQS
         */
        'sqs' => array(
            /**
             * This is the path to the Amazon AWS config file. Amazon SQS client is created using the
             * Aws\Common\Aws::factory() method. Copy-paste the file "aws-config.php" that you can find in
             * src/Aws/Common/Resources/aws-config.php to your "config/autoload" folder (this may be already
             * the case if you are using other Amazon AWS services). Then, just fill the "default_settings" array:
             *
             * 'default_settings' => array(
             *     'params' => array(
             *         'key'    => 'your-aws-access-key-id',
             *         'secret' => 'your-aws-secret-access-key',
             *         'region' => 'your-aws-region'
             *     )
             * )
             *
             * Note that it is recommended to use this file for all your Amazon AWS services, so that you don't
             * need to duplicated your credentials across multiple files
             */
            //'config_file' => ''
        )
    ),
);
